@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";

@import "~font-awesome/scss/font-awesome";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// Components: QuerySelector
.qs-list {}

.qs-list.show {
  display: block;
}

.qs-list.hide {
  display: none;
}

.qs-list {
  max-height: 250px;
  overflow-y: scroll;
  will-change: transition;
}
